@model IEnumerable<Carteira.Entity.Corretora>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardUser.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Novo", "Create", "Corretora", new { Area = "Usuario" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Corretora", new { Area = "Usuario", Id = @item.Id })  |
                    @Html.ActionLink("Detalhes", "Details", "Corretora", new { Area = "Usuario", Id = @item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Corretora", new { Area = "Usuario", Id = @item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
