@model IEnumerable<Carteira.Entity.Ativo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardUser.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Novo", "Create", "Ativo", new { Area = "Administrador" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoInvestimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPapel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoInvestimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPapel)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Ativo", new { Area = "Administrador", Id = @item.Id })  |
                    @Html.ActionLink("Detalhes", "Details", "Ativo", new { Area = "Administrador", Id = @item.Id }) |
                    @Html.ActionLink("Delete", "Delete", "Ativo", new { Area = "Administrador", Id = @item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
