@model IEnumerable<Carteira.Entity.Ativo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Novo", "Create", "MeusAtivos", new { Area = "Usuario" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoInvestimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPapel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoInvestimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPapel)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "MeusAtivos", new { Area = "Usuario", Id = @item.Id })  |
                @Html.ActionLink("Detalhes", "Details", "MeusAtivos", new { Area = "Usuario", Id = @item.Id }) |
                @Html.ActionLink("Delete", "Delete", "MeusAtivos", new { Area = "Usuario", Id = @item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
