@model Carteira.Models.CorretoraFiltro

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="card">
        <div class="card-header text-muted">
            <div id="contect-default-header">
                @*<a class="btn btn-sm btn-primary float-left" asp-action="Index" asp-controller="Home" role="button">
                        <i class="fa fa-arrow-circle-left"></i>
                        Voltar
                    </a>*@

                @Html.ActionLink("Voltar", "Index", "Home", new { Area = "" }, new { @class = "btn btn-sm btn-primary float-left" })

                @*<a class="btn btn-sm btn-info float-right" asp-area="Administrador" asp-controller="Corretora" asp-action="Create" role="button">
                        <i class="fa fa-plus-circle"></i>
                        Novo
                    </a>*@

                @Html.ActionLink("Novo", "Create", "Corretora", new { Area = "Administrador" }, new { @class = "btn btn-sm btn-info float-right" })
            </div>
        </div>
        <div class="card-body" style="padding:0.3em;">
            <div class="card border-0" style="padding-top:1em; padding-bottom:1em;">
                <div class="col-md-12">

                    <div class="card-header text-muted" style="margin-bottom:0.5em;">
                        <form id="contentFilter" method="post">
                            <div class="form-row">
                                <div class="col-2">
                                    <label asp-for="Codigo" class="control-label"></label>
                                    <input asp-for="Codigo" class="form-control" />
                                    <span asp-validation-for="Codigo" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="Nome" class="control-label"></label>
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row" style="margin-top:0.5em;">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-secondary btn-sm">
                                        <i class="fa fa-filter"> </i>
                                        Filtrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <table id="table-index" class="table table-sm" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">
                                    <i class="fa fa-cog"></i>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                            </tr>
                        </thead>
                        <tbody class="table-hover table-striped">
                            @*@foreach (var item in Model.Corretoras)
                                {
                                    <tr>
                                        <td class="text-left">
                                            <a class="btn btn-sm btn-info element-tooltip" asp-action="Details" asp-route-id="@item.Id" role="button" data-toggle="tooltip" data-placement="left" title="Detalhes">
                                                <i class="fa fa-list-alt"></i>
                                            </a>
                                            <a class="btn btn-sm btn-warning element-tooltip" asp-action="Edit" asp-route-id="@item.Id" role="button" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-sm btn-danger delete-item element-tooltip" data-toggle="modal" data-target="#deleteModal" data-id="@item.Id" role="button" data-toggle="tooltip" data-placement="right" title="Deletar">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-action="Delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="modal-delete-id" name="Id" value="0" />
                    Você tem certeza que deseja remover este registro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            
            $('.delete-item').on("click", function (event) {
                //
//                event.preventDefault();
                let Id = $(this).attr('data-id');
                console.log("ID: " + Id);
                $('#modal-delete-id').val(Id);
            });


            //    //datatables.net/reference/option/language
            //    //https://datatables.net/reference/api/ajax.json()
            //    //https://datatables.net/reference/option/ajax
            //    //https://www.c-sharpcorner.com/article/jquery-datatables-with-asp-net-core-server-side-dynamic-multiple-column-searchin/
            //    //https://datatables.net/reference/

            $('#table-index').DataTable({
                "initComplete": function () {
                    $('.delete-item').on("click", function () {
                        //
                        //let Id = $(this).attr('data-id');
                        //console.log("ID: " + Id);
                        //$('#modal-delete-id').val(Id);
                    });
                    console.log('Carregou');
                    //$('.element-tooltip').hover(function () {
                    //    $(this).tooltip('toggle');
                    //});
                },
                "processing": true,
                "serverSide": true,
                "filter": false,
                "language": {
                    "lengthMenu": "_MENU_ registros por página",
                    "zeroRecords": "Não existem registros encontrados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtro de _MAX_ registros)",
                    "paginate": {
                        "first": "<<",
                        "last": ">>",
                        "next": ">",
                        "previous": "<"
                    },
                },
                "ajax": {
                    "url": "Pagination",
                    "type": "POST",
                    "data": function (d) {
                        d.myKey = $("#contentFilter").serialize();
                    }
                },
                "aoColumns": [
                    {
                        "data": "id",
                        "name": "Id",
                        "autoWidht": true,
                        "orderable": false,
                        render: function (data, type) {

                            let detail = "<a style='margin-left: 5px;' class='btn btn-sm btn-info element-tooltip' href='/Administrador/Corretora/Details/1' role='button' data-toggle='tooltip' data-placement='left' title='Detalhes'> <i class='fa fa-list-alt'></i></a>";

                            let edit = "<a style='margin-left: 5px;' class='btn btn-sm btn-warning element-tooltip' href='/Administrador/Corretora/Edit/1' role='button' data-toggle='tooltip' data-placement='top' title='Editar'> <i class='fa fa-edit'></i></a>";

                            let remove = "<a  style='margin-left: 5px;' class='btn btn-sm btn-danger delete-item element-tooltip' data-toggle='modal' data-target='#deleteModal' data-id='1' role='button' data-toggle='tooltip' data-placement='right' title='Deletar'><i class='fa fa-trash'></i> </a>";

                            return "<td class='text-left'>" + detail + edit + remove + "<td>";
                        }
                    },
                    {
                        "data": "id",
                        "name": "Id",
                        "autoWidht": true

                    },
                    {
                        "data": "nome",
                        "name": "Nome",
                        "autoWidht": true
                    }
                ],
                "ordering": true,
                "paging": true,
                "pagingType": "full_numbers",
            });

            var eventFired = function (type) {
                //alert("Disparou!!!");
                //$('.element-tooltip').hover(function () {
                //    $(this).tooltip('toggle');
                //});
            }

            $('#table-index')
                .on('order.dt', function () { eventFired('Order'); })
                //.on('search.dt', function () { eventFired('Search'); })
                //.on('page.dt', function () { eventFired('Page'); })
                .DataTable();

        });

                            //$(document)
    </script>
}

