@model Carteira.Entity.Operacao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardUser.cshtml";
}

<h1>Edit</h1>

<h4>Operacao</h4>
<hr />


@using (Html.BeginForm("Edit", "Operacoes", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <input-for model="TipoOperacao" />
    </div>

    <div class="form-group">
        <select asp-for="Corretora.Id" asp-items="@ViewBag.Corretoras"></select>
    </div>

    <div class="form-group">
        <select asp-for="Ativo.Id"
                asp-items="@ViewBag.Ativos"></select>
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(model => model.Quantidade)
        @Html.EditorFor(model => model.Quantidade)
        @Html.ValidationMessageFor(model => model.Quantidade)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(model => model.PrecoUnitario)
        @Html.EditorFor(model => model.PrecoUnitario)
        @Html.ValidationMessageFor(model => model.PrecoUnitario)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(model => model.Corretagem)
        @Html.EditorFor(model => model.Corretagem)
        @Html.ValidationMessageFor(model => model.Corretagem)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(model => model.Emolumentos)
        @Html.EditorFor(model => model.Emolumentos)
        @Html.ValidationMessageFor(model => model.Emolumentos)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(model => model.TaxaLiquidacao)
        @Html.EditorFor(model => model.TaxaLiquidacao)
        @Html.ValidationMessageFor(model => model.TaxaLiquidacao)
    </div>

    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
}
<div>
    @Html.ActionLink("Voltar", "Index", "Operacoes", new { Area = "Usuario" })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
